@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Zen Kaku Gothic New', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.outerContainer{
    display: flex;
    flex-direction: column;
}

.innerContainer{
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    margin : 35px;
}